/***************************section FAQs**************************/
#FAQs{
    .container{
        .heading{
            margin: 56px 0;
            .main-title{
                h1{
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 38px;
                }
            }
        }
        .accordion{
            margin-bottom: 50px ;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 35px;
            .accordion-left{
                max-width: 594px;
                .accordion-heading{
                    background-color: var(--light-grey);
                    padding: 20px 30px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    h5{
                        font-weight: 600;
                        line-height: 19.2px;
                    }
                    span{
                        cursor: pointer;
                        color: var(--grey-color);
                    }
                }
                .accordion-items{
                    background-color: var(--light-grey);
                    padding: 20px 30px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                    .accordion-title{
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: space-between;
                        h5{
                            font-weight: 600;
                            line-height: 19.2px;
                            color: var(--orange-color);
                            cursor: pointer;
                        }
                        span{
                            cursor: pointer;
                            color: var(--grey-color);
                        }
                    }
                    .accordion-content{
                        p{
                            color: var(--sec-color);
                        }
                    }
                    
                }
            }
            .accordion-right{
                width:594px;
                .accordion-heading{
                    background-color: var(--light-grey);
                    padding: 20px 30px;
                    border-radius: 8px;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    h5{
                        font-weight: 600;
                        line-height: 19.2px;
                    }
                    span{
                        cursor: pointer;
                        color: var(--grey-color);
                    }
                }
            }
        }
    }
}
/*************************section Responsive***********************/
@media screen and (max-width : 992px){
    .hero-pages{ 
        .content-hero{
            padding-left: 20px;
        }
    }
    #FAQs{
        .container{
            display: flex;
            flex-direction: column;
            .accordion{
                gap: 16px;
                .accordion-left{
                    .accordion-heading{
                        margin-bottom: 16px;
                    }
                }
                .accordion-items{
                    margin-bottom: 16px;
                }
                .accordion-right{
                    max-width: 100%;
                }
            }
        }
    }
}